@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
body,html{
    height: 100vh;
    width: 100%;
}
i{
    cursor: pointer;
}
/* HEADER */
header{
    width: 100%;
}
.top-header{
    display: flex;
    background-color: #393280;
    padding: 15px  62px;
    width: 100%;
    height: 56px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.phone-number{
    width: 50%;
}
.phone-number .phone-wrapper{
    margin-top: 3px;
}
.top-header-icons{
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 3px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 62px;
    /* border-bottom: 2px solid #E0E0E0; */
}
.profile{
    height: 86px;
    width: 86px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.options-header{
    display: flex;
    width: 30%;
    max-width: 386px;
    font-size: 14px;
    font-weight: 400;
}
.options-header .options:not(:last-child){
    border-right: 1px solid #D1D1D1;
}
.options-header .options{
    padding: 0 17px;
    color: #393280;
}
.options a{
    text-decoration: none;
    color: #393280; 
}
.options-header  .options:hover, .options a:hover{
    transition: all 0.3s ease;
    color: #ED553B;
}
.inputs{
    position: relative;
    width: 40%;
    max-width: 617px;
  
}
.inputs i{
    position: absolute;
    top: 15px;
    right: 24px;
    color: #111111;
    transform: scaleX(-1);
}
.inputs .input-search{
    width: 100%;
    height: 45px;
    border-radius: 15px;
    padding: 14px 45px 14px 14px;
    outline: none;
    color: black;
    background-color: #F6F6F6;
    border: none;
}
.input-search::placeholder{
    color:#BCBCBC;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 18px 62px;
}
.menu-indice{
    text-decoration: none;
}
.menu-indice:hover{
    color: #fff;
}
.header-menu .links{
    margin-top: 33px;
}
.header-menu .links a{
    position: relative;
    padding: 0 35px;
    padding-bottom: 0.3rem;
    text-decoration: none;
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.header-menu .links a::after{
    content: '';
    position: absolute;
    background-color: #ED553B;
    width: 0;
    height: 2px;
    bottom: 1px;
    left: 20%;
    transition: all 0.3s ease;
}
.header-menu .links a:hover{
    color: #ED553B;
}
.header-menu .links a:hover::after{
    width: 60%;
}
.header-menu .links a:not(:last-child){
    border-right: 1px solid #D1D1D1;
}
.header-menu .line-menu{
    flex-basis: 100%;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #E0E0E0;
}

/* SECTION 01 */
.info-books{
    display: flex;
    width: 100%;
    max-height: 657px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#FFE5E5,#F5FFFE,#FFFFFF,#FFFFFF);

}
.info-books .info{
    display: flex;
    
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 63px;
    margin: 20px;
    line-break: auto;
}
.info-books .info h2{
    font-size: 60px;
    font-weight: 500;
    color: #393280;
}
.info-books .info p{
    font-size: 22px;
    color: #393280;
    font-weight: 200;
}
.btn-see-move{
    width: 197px;
    height: 61px;
    color: #393280;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    border:1px solid #393280;
    border-radius: 5px;
    margin-top: 28px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
 .btn-see-move:hover{
    background-color: #ED553B;
    color: #fff;
    border:1px solid #ec2300;
}
.btn-see-move:hover > a{
    color: #fff;
}
.info-books .books{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0 20px 20px;
}

.info-books .books img{
    
    max-height: 657px;
}

/* section 2 */
.category-find{
    width: 100%;
    padding: 50px;
    margin: 20px 0;
    text-align: center;
}
.categorias{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    width: 100%;
    flex-direction: row;
}
.category-find .card{
    width: 416px;
    height: 436px;
    transition: all 0.3s ease;
}
.category-find .card:hover{
    transform: scale(1.1);
}
.category-find h3{
    color: #393280;
    font-size: 32px;
}

.category-find .card img{
    width: 100%;
    height: 247px;
    border-radius: 5px;
    margin-bottom: 35px;
}
.card span{
    font-size: 24px;
    color: #393280;
    font-weight: bold;
}
.card p{
    margin-top: 35px;
    font-size: 16px;
    font-weight: 200;
}

/* Livro destaque */
.livro-destaque{
    display: flex;
    align-items: center;
    width: 100%;
    height: 791px;
    background-image: linear-gradient(to right,#FBEEEE,#F7FFFE);
}
.livro-destaque .book{
    width: 50%;
    padding: 209px 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book img{
    width: 413px;
    height: 602px;
}
.livro-destaque .book-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 209px 95px;
}
.book-details h5{
    font-size: 48px;
    font-weight: 500;
    color: #393280;
    margin-bottom: 45px;
}
.book-details .author{
    position: relative;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
}
.book-details .author::before{
    content: '';
    position: absolute;
    top: -10px;
    height: 4px;
    width: 85px;
    background-color: #ED553B;
}
.book-details .title-book{
    margin-bottom: 16px;
    font-size: 26px;
    font-weight: 600;
    color: #393280;
}
.book-details .book-detail{
    font-size: 16px;
    font-weight: 300;
    color: #7A7A7A;
    margin-bottom: 35px;
}
.book-details .price{
    font-size: 23px;
    font-weight: bold;
    color: #ED553B;
}



/* Newsletter section */

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 427px;
    background-color: #F7FCFC;
    padding: 135px 133px;
}
.newsletter .form-newsletter{
    padding: 20px;
}
.newsletter .newsletter-title{
    font-size: 32px;
    color: #111111;
    font-weight: 400;
    text-align: start;
    width: 50%;
}
.newsletter .form-newsletter p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #7A7A7A;
}
.email-wrapper{
    position: relative;
    width: 533px;
}
.email-wrapper input{
    width: 100%;
    height: 36px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 70px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #6F6F6F;
}
.email-wrapper .send{
    position: absolute;
    right: 0;
    top: 3px;
    color: #ED553B;
}
/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 596px;
    padding: 101px;
    background-image: linear-gradient(to right,#FBEEEE,#F7FFFE);
    gap: 165px;
    
}
.social, .menus{
    height: 100%;
}
.social{
    display: flex;
    flex-direction: column;
    max-width: 368px;
}
.social img{
    height: 83px;
    width: 87px;
    border-radius: 50%;
}
.social p{
    font-size: 18px;
    font-weight: 300;
    color: #011627;
    height: 70px;
   
}
.social .footer-icons{
    display: flex;
    justify-content: space-between;
    color: #ED553B;
    font-size: 32px;
    margin-bottom: 80px;
}
.social .footer-icons a{
    text-decoration: none;
    color: #ED553B;
}


.menus .links, .important-links .links{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}
.link-git{
    text-decoration: none;
    font-weight: bold;
    color: #111111;
}

.menus p{
    font-size: 24px;
    font-weight: 800;
    color: #ED553B;
    margin-bottom: 39px;
}
.menus .links a{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111111;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menus .links a:hover{
    color: #ec2300;
}

/*media*/

@media screen and (max-width:1287px){
    .info-books .info h2{
        font-size: 40px;
    }
    .info-books .info p{
        font-size: 18px;
    }
}
@media screen and (max-width:1131px){
  .info-books .books{
    display: none;
  }
}
@media screen and (max-width:1000px){
    .category-find .categorias{
        flex-wrap: wrap;
    }
    .newsletter{
        flex-direction: column;
        text-align: center;
    }
    .newsletter .newsletter-title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.rem;
    }
    .newsletter .newsletter-title h3{
        font-size: 30px;
    }
    .social .footer-icons{
        font-size: 25px;
        margin-top: 10%;
    }
}
@media screen and (max-width:923px){
    
    footer{
        flex-wrap: wrap;
    }
    footer .social{
        display: none;
    }
 
}
@media screen and (max-width:732px){
    
    .book img{
        scale: calc(85%);
    }
    .menus p{
        font-size: 18px;
    }
    .menus .links a{
        font-size: 14px;
    }
    .options a{
        display: none;
    }
}
@media screen and (max-width:696px){
    .book-details h5{
        font-size: 24px;
    }   
    .book-details .author{
        font-size: 10px;
    }
    .book-details .title-book{
        font-size: 12px;
    }
    .book-details .book-detail{
        font-size: 14px;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width:632px){
  footer{
    padding: 50px 20px;
  }
}
@media screen and (max-width:694px){
  footer{
    padding: 50px 20px;
  }
  .book img{
    scale: calc(70%);
}
.livro-destaque .book-details{
    padding: 150px 0;
}
}
@media screen and (max-width:591px){
    .line-menu .links{
        display: flex;
        
    }
    body,html{
        height: 100vh;
        width: 591px;
    }
}
@media screen and (max-width:538px){
    .livro-destaque .book{
        display: none;
    }
    .livro-destaque .book-details{
        width: 100%;
        padding: 150px 40px;
    }
    .newsletter{
        padding: 50px;
    }
    .newsletter .form-newsletter p{
        display: none;
    }
    .newsletter .newsletter-title h3{
        font-size: 15px;
    }
}
@media screen and (max-width:412px){


.form-newsletter{
    width: 80%;
}
.form-newsletter .email-wrapper{
    width: 100%;
}
.send span{
    display: none;
}
}